body {
	font-family: 'Open Sans', sans-serif;
	background-color: #D3DCE6;
	color: #324057;
  }
  .heading {
	font-weight: 700;
  }
  .subheading {
	font-weight: 300;
  }

a {
	text-decoration: none;
}

a::hover {
	color: #D3DCE6
}

.Tabs {
	background-color: #D3DCE6
	;
}