body {
	font-family: 'Open Sans', sans-serif;
	background-color: #000;
	color:  #fff;
  }
  .heading {
	font-weight: 700;
  }
  .subheading {
	font-weight: 300;
  }

a {
	text-decoration: none;
}

a:hover {
	color: rgb(209, 209, 209)
}

.Tabs {
	background-color: rgb(148, 148, 148)
	;
}

button:hover{
	background-color: #cccccc
}

label{
	color: #191919 !important
}

.el-button--primary {
	color: #fff;
	background-color: rgb(0, 0, 0) !important;
	border-color: rgb(50, 50, 50) !important;
}

.el-tabs__nav-scroll {
	background-color: #323232 !important;
}

.el-tabs__item.is-active {
	color: #fff !important;
}

.el-tabs--border-card>.el-tabs__header .el-tabs__item.is-active {
	background-color: #666 !important;
}

.el-tabs__item {
	color: black !important;
}

.el-card__header {
	background-color: #121212 !important;
}
.el-card__body {
	background-color: #000 !important;
}

.el-card{
	background-color: #000 !important;
}

.el-table {
	background-color: #121212 !important;
}

.el-dialog__header {
	background-color: #323232 !important;
}

.el-dialog__body {
	background-color: #191919 !important;
	color: #fff !important;
}

.el-dialog__footer {
	background-color: #323232 !important;
}

.el-dialog__title {
	color: #fff !important;
}
 
.MuiToolbar-root-37{
	background-color: #121212 !important;
}
/*
.MuiExpansionPanelSummary-root-81 {
	background-color: #323232 !important;
}

.MuiTypography-body1-50 {
	color: white !important;
}

.MuiExpansionPanelDetails-root-109 {
	background-color: #131313 !important;
}

.MuiTypography-h3-55{
    color: #fff !important;
}
*/
.MuiButton-outlinedPrimary-119 {
	margin-top: 1rem !important;
    color: #999 !important;
    border: 1px solid #aaa !important;
} 
